/* Stil für das Chat-Fenster */
.chat-window {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-window h2 {
    margin-top: 0;
  }
  