/* Stil für das Chat-Fenster */
.chat-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 60px;
    background-color: #b7cbeb;
    border-radius: 60px;
    box-shadow: 0 2px 5px rgba(28, 28, 28, 0.1);
  }
  .send-button {
    background-color: #4CAF50; /* Hintergrundfarbe */
    color: white; /* Textfarbe */
    border: none; /* Kein Rand */
    padding: 10px 20px; /* Innenabstand */
    font-size: 16px; /* Schriftgröße */
    cursor: pointer; /* Zeiger-Cursor */
    border-radius: 5px; /* Abgerundete Ecken */
  }
  
  /* Hover-Stil */
  .send-button:hover {
    background-color: #45a049; /* Hintergrundfarbe ändern, wenn der Mauszeiger darüber schwebt */
  }
  
  /* Aktiver Stil */
  .send-button:active {
    background-color: #3e8e41; /* Hintergrundfarbe ändern, wenn der Button aktiv ist */
  }
  
  .my-custom-button {
    /* Hier kannst du deine benutzerdefinierten Stile für den Button hinzufügen */
    background-color: rgb(14, 56, 60);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .my-custom-button:hover {
    /* Stile für den Button im Hover-Zustand */
    background-color: darkblue;
  }

  .message-input {
    width: 95%; /* Breite des Eingabefelds */
    padding: 10px; /* Innenabstand */
    font-size: 26px; /* Schriftgröße */
    border: 5px solid #d9acd8; /* Rand */
    border-radius: 15px; /* Abgerundete Ecken */
  }
  
  /* Focus-Stil */
  .message-input:focus {
    border-color: #4CAF50; /* Randfarbe ändern, wenn das Eingabefeld aktiv ist */
    outline: none; /* Entferne den Standard-Fokus-Stil */
  }
  
  
  .my-custom-input {
    /* Hier kannst du deine benutzerdefinierten Stile für das Eingabefeld hinzufügen */
    border: 2px solid blue;
    padding: 10px;
    border-radius: 5px;
  }
  
  .my-custom-input:focus {
    /* Stile für das Eingabefeld im Fokus-Zustand */
    border-color: darkblue;
  }
  
  .timestamp {
    /* Hier kannst du die Farbe des Zeitstempels ändern */
    color: rgb(152, 152, 218);
  }

  .message-list {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }
  
  .message {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .message .text {
    color: #333; /* Ändere die Farbe des Textes hier */
  }
  
  .john .message {
    background-color: #2674e7;
  }
  
  .alice .message {
    background-color: #b3e8a0;
  }
  
  .bob .message {
    background-color: #470808;
  }
  
  .sender {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .timestamp {
    font-size: 12px;
    color: #666; /* Ändere die Farbe des Zeitstempels hier */
  }
  
  .avatar {
    width: 40px; /* Hier kannst du die Breite anpassen */
    height: 40px; /* Hier kannst du die Höhe anpassen */
    border-radius: 40%; /* Damit die Avatare rund sind */
  }
  
  .user-name {
    margin-right: 10px;
    font-weight: bold; /* Füge hier Stile für den Namen hinzu, um ihn fett oder in einer anderen Farbe anzuzeigen */
  }